@model SpecSelRepos.Models.AccountViewModels.ManageRolesViewModel

@{
    ViewData["Title"] = "Manage Roles";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post">
    <fieldset>
        <label for="textRoleName">Role name:</label><br />
        <input type="text" value="" name="textRoleName" /> &nbsp;
        <input type="submit" value="Create Role" name="buttonCreateRole" />
        <input type="submit" value="Delete Role" name="buttonDeleteRole" />
    </fieldset>
    <p></p>

    <fieldset>
        <label for="selectUserName">Users:</label>
        <select asp-for="ManageRolesUser" asp-items="Model.Users"></select>
        &nbsp;
        <label for="selectRoleName">Roles:</label>
        <select asp-for="ManageRolesRole" asp-items="Model.Roles"></select>
        &nbsp;

        @using (Html.BeginForm("AssignRole", "Account"))
        {
        <input type="submit" value="Add User to Role" name="buttonAddUserToRole">
        }

        <input type="submit" value="Delete User from Role" name="buttonDeleteUserFromRole" />

        <button class="btn btn-info" type="button" name="assignRole" onclick="location.href='@Url.Action("AssignRole", "Account")'"></button>

        @Html.ActionLink("Assign Role", "AssignRole", "Account")

    </fieldset>

    <h2>Roles</h2>

    @foreach (var role in Model.Roles)
    {
        var roleStr = role.Text.ToString();
        <ul>
            <li>
                @roleStr
                <ul>
                    @foreach (var user in Model.GetUsersInRole(roleStr))
                    {
                        <li>
                            @user.Email.ToString()
                        </li>
                    }
                </ul>
            </li>
        </ul>
        }
    <p><a href="@Href("~/Home")">Return to home page</a></p>

</form>

