@model SpecSelRepos.Models.AccountViewModels.ManageRolesViewModel

@{
    ViewData["Title"] = "Manage Roles";
}

<h2>@ViewData["Message"]</h2>

<fieldset>
    @using (Html.BeginForm("AddRemoveRole", "Account", FormMethod.Get))
    {
        <span>
            <label for="role">Role name:</label>
            <input type="text" value="" name="role" />
        </span>
        <input type="submit" value="Create/Delete Role" name="buttonCreateDeleteRole" />
    }
</fieldset>
    <p></p>

    <fieldset>
        @using (Html.BeginForm("AssignRole", "Account", FormMethod.Get))
        {
        <span>
            <label for="email">Users:</label>
            @Html.DropDownList("email", @Model.Users)
        </span>
        <span>
            <label for="role">Roles:</label>
            @Html.DropDownList("role", @Model.Roles)
        </span>
        <input type="submit" value="Add User to Role" name="assignRole" />
        }
    </fieldset>


    <fieldset>
        @using (Html.BeginForm("RemoveUserRole", "Account", FormMethod.Get))
        {
        <span>
            <label for="email">Users:</label>
            @Html.DropDownList("email", @Model.Users)
        </span>
        <span>
            <label for="role">Roles:</label>
            @Html.DropDownList("role", @Model.Roles)
        </span>
        <input type="submit" value="Delete User from Role" name="removeRole" />
        }
    </fieldset>

    <h2>Roles</h2>

    @foreach (var role in Model.Roles)
    {
        var roleStr = role.Text.ToString();
        <ul>
            <li>
                @roleStr
                <ul>
                    @foreach (var user in Model.GetUsersInRole(roleStr))
                    {
                        <li>
                            @user.Email.ToString()
                        </li>
                    }
                </ul>
            </li>
        </ul>
    }
    <p><a href="@Href("~/Home")">Return to home page</a></p>



